<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Museum</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('news') }}">News</a></li>
            <li><a href="{{ url_for('events') }}">Events</a></li>
            <li><a href="{{ url_for('exhibits') }}">Exhibits</a></li>
            <li><a href="{{ url_for('services') }}">Services</a></li>
            <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
            <li><a href="{{ url_for('checkout', item_id=1) }}">Checkout</a></li>
        </ul>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <a href="/about" class="about-us-button">About Us</a>
        <p>© 2024 Museum Website. All rights reserved.</p>
    </footer>    
</body>
</html>
