{% extends "base.html" %}

{% block title %}News{% endblock %}

{% block content %}
    <header>
        <h1>Latest News</h1>
    </header>

    <div class="container">
        {% for news_item in news_items %}
            <div class="card">
                <h2 class="card-title">{{ news_item.title }}</h2>
                <p class="card-description">{{ news_item.date }} - {{ news_item.description }}</p>
                <a href="/news/{{ news_item.id }}" style="text-decoration: none; color: #333; font-weight: bold;">Read More</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
